<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid pe-0">
          <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 ">
              Votre garage preferé 🚘 !
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav mx-auto ms-xl-auto me-xl-7">
              <li class="nav-item">
                <a class="nav-link me-2">
                  <i class="fa fa-user opacity-6 text-dark me-1"></i>
                 A propos de nous
                </a>
              </li>
              <li class="nav-item">
             
                <a class="nav-link me-2" href="/authentication/login/client">
                  <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                  Se connecter
                </a>
              </li>
              <li class="nav-item">
                  
                <a class="nav-link me-2" href="/authentication/register">
                  <i class="fas fa-key opacity-6 text-dark me-1"></i>
                  S'inscrire
                </a>
              </li>
            </ul>
            <ul class="navbar-nav d-lg-block d-none">
              <li class="nav-item">
                <a href="/authentication/login" class="btn btn-round btn-sm mb-0 btn-outline-info me-2">Responsable ? </a>
              </li>
            </ul> 
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>

<main class="main-content  mt-0">
  <section>
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">Garage 🛠️</h3>
                <p class="mb-0">Entrer votre email et votre mot de passe</p>
              </div>
              <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                  <label>Email</label>
                  <div class="mb-3">
                    <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Email" required />
                  </div>
                  <label>Mot de passe</label>
                  <div class="mb-3">
                    <input type="password" id="mdp" name="mdp" class="form-control" [(ngModel)]="mdp" placeholder="Mot de passe"  required />

                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                    <label class="form-check-label" for="rememberMe">Se souvenir de moi ? </label>
                  </div>
                  <div class="text-center">
                    
                   <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Se connecter</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  Vous n'avez pas encore de compte ?
                  <a href="/authentication/register" class="text-info text-gradient font-weight-bold">S'inscrire</a>
              </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div style="position: absolute; top: -20%; left: 30%; height: 130%; width: 60vw; z-index: 0; margin-left: -40px; transform: skewX(-20deg);">
              <div style="background-image: url('assets/images/voiture/voiture-2.jpg');" class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6">
              </div>
          </div>
          
          
          
          </div>
        </div>
      </div>
    </div>
  </section>
</main>