<mat-card class="cardWithShadow w-80">
    <mat-card-content *ngIf="facture">
      <div class="container">
        <div class="invoice">
          <div class="row">
            <div class="col-7 mt-n3">
              <img src="./assets/images/logos/logo.png" class="logo"/>
            </div>
            <div class="col-5">
              <h3 class="document-type">FACTURE</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-7 mt-2">
              <p class="addressMySam">
                <strong>Réparation voiture</strong><br/>
                Antananarivo 101<br/>
              </p>
            </div>
            <div class="col-5">
              <p class="addressDriver">
                <strong>Numero Facture : {{ facture?.numero_facture}}</strong><br/>
                <strong>Immatriculation: {{ facture.reparation?.voiture?.matricule || 'Voiture inconnue' }}</strong><br/>
                <em>Référence: {{ facture.reparation?.voiture?.model?.name }}</em><br/>
                <em>Client: {{ facture.client?.nom }}</em><br/>
              </p>
            </div>
          </div>
  
          <br/><br/>
          <h6>Problème détecté le <span>{{ facture.reparation?.date_depot }}</span></h6>
          <br/>
  
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Description</th>
                <th class="text-right">Quantité</th>
                <th class="text-right">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of facture.details">
                <td>{{ detail.libelle }}</td>
                <td class="text-right">{{ detail.quantite }}</td>
                <td class="text-right">{{ detail.prix_total }}</td>
              </tr>
            </tbody>
          </table>
  
          <div class="row">
            <div class="col-4 offset-8">
              <table class="table table-sm text-right">
                <tr>
                  <td><strong>Total HT :</strong></td>
                  <td class="text-right">{{ facture.montant_total }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  