<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Paiement</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="d-flex justify-content-between">
      <h6>TOTAL : <span class="text-success">700,00</span></h6>
      <h6>RESTE À PAYER : <span class="text-error">00,00</span></h6>
    </div>    
    <form>
      <div class="row mt-4">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Montant à payer : </mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Montant " />
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Date de paiement</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="date" placeholder="date de paiement" />
          </mat-form-field>
        </div>


        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Mode de paiement</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(value)]="selectedCountry">
              @for(option of country; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8">Valider</button>
        <button mat-stroked-button color="warn">Annuler</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>