<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Paiement</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">  
    <form (ngSubmit)="onSubmit()">
      <div class="row mt-4">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Montant à payer : </mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Montant " [(ngModel)]="montant" name="montant"/>
          </mat-form-field>
        </div>


        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Mode de paiement</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(value)]="selectedCountry" [(ngModel)]="selectedMode" name="selectedMode">
              @for(option of country; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8">Payer</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>