<mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>Liste de tous les Reparations</mat-card-title>
  
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource1" class="w-100">
          <!-- Voiture -->
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
              Nom 
            </th>
            <td mat-cell *matCellDef="let element">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.nom }}
                  </h6>
            </td>
          </ng-container>
           <!-- Voiture -->
    
          <!-- Date de debut -->
          <ng-container matColumnDef="niveau">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Niveau</th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600 text-info">
                    {{ element.niveau }}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>
           <!-- Date de debut -->

           <!-- Date de debut -->
          <ng-container matColumnDef="etat">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Etat</th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600 text-warning">
                    {{ element.etat }}
                  </h6>
                </div>
              </div>
            </td>
          </ng-container>
           <!-- Date de debut -->


        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Actions</th>
          <td mat-cell *matCellDef="let element">

              <!-- Bouton pour état "En attente" -->
              <ng-container *ngIf="element.etat === 'En attente'">
                  <button mat-menu-item (click)="assinerMecanicienReparation($event, element.id)">
                      <span class="bg-light-info text-info rounded f-w-600 p-6 p-y-4 f-s-12">
                          Assigner Mécanicien
                      </span>
                  </button>
              </ng-container>

              <!-- Bouton pour état "Terminé" ou "Confirmé" -->
              <ng-container *ngIf="element.etat === 'Terminé' || element.etat === 'Confirmé'">
                  <button mat-menu-item (click)="voirDetailReparation($event, element.id)">
                      <span class="bg-light-info text-info rounded f-w-600 p-6 p-y-4 f-s-12">
                          Voir Détails
                      </span>
                      <mat-icon>visibility</mat-icon>
                  </button>
              </ng-container>

          </td>
        </ng-container>

  
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
        </table>
      </div>

      @if(statut == 'En attente') {
      <div class="d-flex justify-content-end">
        <button mat-flat-button color="primary" class="m-r-12 mat-button-large" (click)="validerReparation()">        Valider  Reparation     </button>
      </div>
      }
      @if(statut == 'Confirmé') {
        <div class="d-flex justify-content-end">
          <button mat-flat-button color="primary" class="m-r-12 mat-button-large" (click)="validerClientReparation()">     Valider  Reparation et Generer Facture   </button>
        </div>
      }
    

    </mat-card-content>
</mat-card>
