<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Confirmer un Rendez-vous</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form>
      <div class="row">    
             <!-- input -->
             <div class="col-lg-6">
              <mat-label class="f-w-600 m-b-8 d-block">Date de debut</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="date" placeholder="Date de debut" />
              </mat-form-field>
            </div>
            <!-- input -->

                 <!-- input -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">heure</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="time" placeholder="heure" />
          </mat-form-field>
        </div>
        <!-- input -->

            <!-- select -->
            <div class="col-lg-6">
              <mat-label class="f-w-600 m-b-8 d-block">Mécanicien</mat-label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select [(value)]="selectedValue">
                  @for(option of mecanicien; track option.value) {
                  <mat-option [value]="option.value">{{
                    option.viewValue
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <!-- select -->


      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8">Valider</button>
        <button mat-stroked-button color="warn">Annuler</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>