<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title class="m-b-0">Liste des factues en cours</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="col-lg-6">
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Facture 1</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-list role="list">
              <mat-list-item role="listitem">Probleme de voiture : <span class="f-w-600">Frein</span></mat-list-item>
              <mat-list-item role="listitem">Date de facture : <span class="f-w-600">2025-12-24</span> </mat-list-item>
              <mat-list-item role="listitem">Montant total : <span class="f-w-600">700, 00</span></mat-list-item>
            </mat-list>
            <a href="/ui-components/facture" mat-flat-button color="primary" class="m-r-8">Details facture</a>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-6">
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Facture 2</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <mat-list role="list">
              <mat-list-item role="listitem">Probleme de voiture : <span class="f-w-600">Frein</span></mat-list-item>
              <mat-list-item role="listitem">Date de facture : <span class="f-w-600">2025-12-24</span> </mat-list-item>
              <mat-list-item role="listitem">Montant total : <span class="f-w-600">700, 00</span></mat-list-item>
            </mat-list>
            <a href="/ui-components/facture" mat-flat-button color="primary" class="m-r-8">Details facture</a>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-card-content>
  </mat-card>