<mat-card class="cardWithShadow theme-card">


    <!-- Messages d'alerte -->
    <div *ngIf="showMessage" class="p-4 mb-4" 
         [ngClass]="{
           'bg-green-100 border border-green-400 text-green-700': messageType === 'success',
           'bg-red-100 border border-red-400 text-red-700': messageType === 'error'
         }" 
         role="alert">
        <div class="flex justify-between items-center">
            <span class="block sm:inline">{{message}}</span>
            <button (click)="showMessage = false" class="ml-2">
                <span class="pi pi-times"></span>
            </button>
        </div>
    </div>

    
  <mat-card-header>
    <mat-card-title class="m-b-0">Prendre un Rendez-vous</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form (ngSubmit)="onSubmit()">
      <div class="row">    
        <!-- select -->
        <div class="col-lg-12">
          <mat-label class="f-w-600 m-b-8 d-block">Voiture</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(value)]="selectedVoiture" name="voiture">
              @for(option of voitures; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <!-- select -->

        <!-- Option -->
        <div class="col-lg-12">
          <mat-label class="f-w-600 m-b-8 d-block">Problème</mat-label>
          <mat-card-content class="b-t-1">
            <mat-selection-list [(ngModel)]="selectedCategories" name="problemes">
              <mat-list-option *ngFor="let categorie of categories" [value]="categorie._id">
                {{ categorie.nom }}
              </mat-list-option>
            </mat-selection-list>
          </mat-card-content>
        </div>
        <!-- Option -->

        <!-- input -->
        <div class="col-lg-12">
          <mat-label class="f-w-600 m-b-8 d-block">Date de debut</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="datetime-local" placeholder="Date et Heure du RDV" [(ngModel)]="rdvDate" name="date_heure_rdv">
          </mat-form-field>
        </div>
        <!-- input -->

        <!-- input -->
        <div class="col-lg-12">
          <mat-label class="f-w-600 m-b-8 d-block">Commentaire</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <textarea matInput [(ngModel)]="commentaire" name="commentaire" placeholder="Commentaire ..." rows="5" cols="100"></textarea>
          </mat-form-field>
        </div>
        <!-- input -->

      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8">Valider</button>
        <button mat-stroked-button color="warn">Annuler</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>