<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Liste de votre Rendez-vous</mat-card-title>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource1" class="w-100">
         

        <!-- Voiture -->
        <ng-container matColumnDef="voiture">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
            Voiture
          </th>
          <td mat-cell *matCellDef="let element">
                <h6 class="f-s-14 f-w-600">
                  {{ element.voiture }}
                </h6>
          </td>
        </ng-container>
         <!-- Voiture -->

        <!-- Probleme -->
        <ng-container matColumnDef="probleme">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
            Problème
          </th>
          <td mat-cell *matCellDef="let element">        
            <h6 class=" f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.probleme }} </span>
            </h6>
            <mat-progress-bar mode="determinate" value="80" color="primary"></mat-progress-bar>
          </td>
        </ng-container>
        <!-- Probleme -->
  
        <!-- Date de debut -->
        <ng-container matColumnDef="date_debut">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Date de début</th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            <div class="d-flex align-items-center">
              <div class="m-l-16">
                <h6 class="f-s-14 f-w-600">
                  {{ element.date_debut | date: 'fullDate' }}
                </h6>
              </div>
            </div>
          </td>
        </ng-container>
         <!-- Date de debut -->

          <!-- Probleme -->
        <ng-container matColumnDef="commentaire">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
            Commentaire
          </th>
          <td mat-cell *matCellDef="let element">        
            <h6 class=" f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.commentaire }} </span>
            </h6>
            <mat-progress-bar mode="determinate" value="80" color="primary"></mat-progress-bar>
          </td>
        </ng-container>
        <!-- Probleme -->

         <!-- etat -->
         <ng-container matColumnDef="statut">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
            Statut
          </th>
          <td mat-cell *matCellDef="let element">
                <h6 class="f-s-14 f-w-600">
                  {{ element.statut }}
                </h6>
          </td>
        </ng-container>
         <!-- etat -->

        <!-- Action -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
            Action
          </th>
          <td mat-cell *matCellDef="let element">
           
            <span class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
            Valider
            </span>
            
          </td>
        </ng-container>
        <!-- Action -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>